//BREAKPOINTS FOR RESPONSIVE
$bp-big: 350px;
$bp-mdm: 300px;

body {
  height: 100vh;
  background: linear-gradient(-45deg, #00306b, #0065e1, #00306b);
  background-size: 300% 300%;
  animation: gradient 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @media screen and (max-width: 1010px) {
    animation: none;
  }
}

.logo {
  position: absolute;
  width: 300px;
  transform: scale(1.6);
  opacity: 0;
  filter: blur(5px);
  animation: logo 0.6s 0.4s linear 1 forwards;

  @media screen and (max-width: $bp-big) {
    width: 250px;
    transform: scale(1);
  }

  @media screen and (max-width: $bp-mdm) {
    width: 200px;
    transform: scale(1);
  }
}

.component-login {
  height: 500px;
  width: 350px;
  background-color: #add2ff4b;
  border-top: 1px solid #add2ff7e;
  border-bottom: 1px solid #add2ff7e;
  backdrop-filter: blur(8px);
  opacity: 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacity 0.8s linear 1.2s 1 forwards;

  @media screen and (max-width: 1010px) {
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
}

.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: default;
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.425);
  }

  &__inserts {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;

    &__label {
      font-size: 16px;
      font-weight: normal;
      color: #ffffff;
      margin-bottom: 4px;
    }

    &__input {
      font-size: 18px;
      padding: 8px 0 8px 8px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #add2ff7e;
      box-shadow: 0 0.5px 2px #add2ff7e;
      backdrop-filter: blur(8px);
      color: #ffffffde;

      &::placeholder {
        color: #ffffff9f;
      }

      &:focus {
        outline: none;
        border-bottom: 1px solid #add2ff7e;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 8px;
      width: 20px;
      translate: 0 -50%;
      opacity: 0.6;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &__error {
      font-size: 16px;
      font-weight: normal;
      color: #ff4646;
      margin-top: 4px;
    }
  }

  &__btn {
    width: 75%;
    padding: 12px 0;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    letter-spacing: 1.2px;
    background-color: #004ead;
    box-shadow: 0 2px 4px #002c618a;
    color: #ffffffde;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;

    &:active {
      transform: scale(0.95);
    }
  }

  &__create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;

    &__text {
      font-size: 10px;
      text-transform: uppercase;
    }

    &__link {
      margin-top: 4px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 2px;
      border-bottom: solid 1px transparent;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        border-bottom: solid 1px #fff;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5) rotate(180deg);
    filter: blur(5px);
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    filter: blur(0px);
  }
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e027277e;
  box-shadow: 0 0.5px 2px #e027277e;
  animation: errorInput 0.325s linear 1 forwards;
}

input.ng-invalid.ng-touched + img {
  animation: errorInput 0.325s linear 1 forwards;
}

.credentials-error {
  border-bottom: 1px solid #e027277e;
  box-shadow: 0 0.5px 2px #e027277e;
  animation: errorInput 0.325s linear 1 forwards;
}

@keyframes errorInput {
  0% {
    transform: translateX(-12px);
  }
  25% {
    transform: translateX(12px);
  }
  50% {
    transform: translateX(-12px);
  }
  75% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0px);
  }
}
