<body>
  <img src="../../assets/hattyng-logo.png" alt="Hattyng logo" class="logo" />
  <section class="component-login">
    <form
      class="login"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(emailInput.value, passwordInput.value)"
    >
      <h2 class="login__title">Hattyng</h2>
      <div class="login__inserts">
        <input
          type="email"
          class="login__inserts__input"
          id="email"
          placeholder="Email"
          formControlName="useremail"
          #emailInput
          autocompleteOff
        />
      </div>
      <div class="login__inserts">
        <input
          type="password"
          class="login__inserts__input pwdInput"
          id="password"
          placeholder="Password"
          formControlName="userpassword"
          #passwordInput
        />
        <img
          src="../../assets/eye-slash.png"
          alt="A password visibility toggle icon"
          class="login__inserts__icon pwdIcon"
          (click)="switchVisibility()"
        />
      </div>
      <button class="login__btn" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
      <div class="login__create">
        <p class="login__create__text">You don't have an account ?</p>
        <a class="login__create__link" (click)="createAcc()">Create One</a>
      </div>
    </form>
  </section>
</body>
