<body>
  <img src="../../assets/hattyng-logo.png" alt="Hattyng logo" class="logo" />
  <section class="component__registry">
    <form
      class="registry"
      [formGroup]="registryForm"
      (ngSubmit)="onSubmit(userEmail.value, userPassword.value)"
    >
      <h2 class="registry__title">Join us!</h2>
      <div class="registry__inserts">
        <input
          type="email"
          class="registry__inserts__input"
          placeholder="Email..."
          id="email"
          formControlName="useremail"
          #userEmail
          autocompleteOff
        />
      </div>
      <div class="registry__inserts">
        <input
          type="password"
          class="registry__inserts__input pwdInput"
          placeholder="Password..."
          id="password"
          formControlName="userpassword"
          #userPassword
        />
        <img
          src="../../assets/eye-slash.png"
          alt="A password visibility toggle icon"
          class="registry__inserts__icon pwdIcon"
          (click)="switchVisibility()"
        />
      </div>
      <button
        class="registry__btn"
        type="submit"
        [disabled]="registryForm.invalid"
      >
        Sign Up
      </button>
      <a class="registry__return" routerLink="../">Go back</a>
    </form>
  </section>
</body>
