<body>
  <section class="home">
    <nav class="home__nav">
      <img
        src="../../assets/hattyng-logo.png"
        alt="Hattyng logotype"
        class="home__nav__logo"
      />
      <div class="home__nav__links">
        <h2
          class="home__nav__links__home active-link"
          (click)="linkClicked(homeLink.innerHTML)"
          #homeLink
        >
          Home
        </h2>
        <h2
          class="home__nav__links__chats"
          (click)="linkClicked(roomLink.innerHTML)"
          #roomLink
        >
          Rooms
        </h2>
        <h2
          class="home__nav__links__profile"
          (click)="linkClicked(profileLink.innerHTML)"
          #profileLink
        >
          Profile
        </h2>
        <h2
          class="home__nav__links__settings"
          (click)="linkClicked(settingsLink.innerHTML)"
          #settingsLink
        >
          Settings
        </h2>
      </div>
      <h2 class="home__nav__logout" (click)="signOut()">Sign Out</h2>
    </nav>

    <section class="home__main" *ngIf="displayHome">
      <div class="home__main__up">
        <h1 class="home__main__up__head">Hattyng</h1>
        <p class="home__main__up__slogan">Your place to interact with people</p>
      </div>
      <div class="home__main__info">
        <h2 class="home__main__info__head">Who we are?</h2>
        <p class="home__main__info__text">
          This web application was developed by two Argentine programmers with
          the aim of increasing knowledge in the field of development and
          polishing skills both in design and in the infinite world of
          functionalities of this environment.
        </p>
      </div>
      <div class="home__main__infotwo">
        <h2 class="home__main__infotwo__head">What is Hattyng?</h2>
        <p class="home__main__infotwo__text">
          Hattyng is an application in which you can choose a room out of three
          to chat with other people about a topic, we have a video game section,
          an anime section and finally a room to talk about anything. Start
          interacting right now!
        </p>
      </div>
      <img
        src="../../assets/hattyng-logo.png"
        alt="The Hattyng logotype"
        class="home__main__logo"
      />
    </section>

    <section class="home__rooms" *ngIf="displayRooms">Rooms</section>

    <section class="home__profile" *ngIf="displayProfile">
      <div class="home__profile__main">
        <div class="home__profile__main__user">
          <img
            src="../../assets/profile-imgs/{{ userImgSrc }}.png"
            alt="Profile photo"
            class="home__profile__main__user__photo"
          />
          <h2 class="home__profile__main__user__name">{{ userName }}</h2>
        </div>
        <p class="home__profile__main__description">
          {{ userDesc }} <br />
          The country in which I reside is {{ userNacion }}. <br />
          I've got {{ userAge }} years old.
        </p>
        <p class="home__profile__main__join">
          Joined on the date of {{ userJoined }}
        </p>
        <form
          class="home__profile__main__form"
          [formGroup]="searchForm"
          (ngSubmit)="searchUser(input.value, input)"
        >
          <input
            type="text"
            class="home__profile__main__form__input"
            formControlName="searchInput"
            placeholder="Search other user..."
            #input
          />
          <button type="submit" class="home__profile__main__form__btn">
            <img
              src="../../assets/search-icon.png"
              alt="A search icon"
              class="home__profile__main__form__btn__icon"
            />
          </button>
          <span class="home__profile__main__form__error" *ngIf="inputError"
            >That user doesn't exist!</span
          >
        </form>
      </div>
    </section>

    <section class="home__settings" *ngIf="displaySettings">Settings</section>
  </section>
</body>
