<body>
  <section class="home">
    <nav class="home__nav">
      <img
        src="../../assets/hattyng-logo.png"
        alt="Hattyng logotype"
        class="home__nav__logo"
      />
      <div class="home__nav__links">
        <h2
          class="home__nav__links__home active-link"
          (click)="linkClicked(homeLink.innerHTML)"
          #homeLink
        >
          Home
        </h2>
        <h2
          class="home__nav__links__chats"
          (click)="linkClicked(roomLink.innerHTML)"
          #roomLink
        >
          Rooms
        </h2>
        <h2
          class="home__nav__links__profile"
          (click)="linkClicked(profileLink.innerHTML)"
          #profileLink
        >
          Profile
        </h2>
      </div>
    </nav>

    <section class="home__main" *ngIf="displayHome">Home</section>

    <section class="home__rooms" *ngIf="displayRooms">Rooms</section>

    <section class="home__profile" *ngIf="displayProfile">
      <div class="home__profile__main">
        <img
          src="../../assets/profile-imgs/{{ userImgSrc }}.png"
          alt="Profile photo"
          class="home__profile__main__photo"
        />
        <h2 class="home__profile__main__name">{{ userName }}</h2>
      </div>
      <p class="home__profile__description">
        {{ userDesc }}
      </p>
    </section>
  </section>
</body>
