//BREAKPOINTS FOR RESPONSIVE DESIGN
//GLOBAL
$bp-superbig: 1010px;
//NAVBAR
$bp-nav-big: 960px;
$bp-nav-mdm: 640px;
$bp-nav-small: 520px;
$bp-nav-smallest: 390px;
//ROOMS CARDS
$bp-card-big: 720px;
$bp-card-mdm: 550px;
$bp-card-small: 400px;
//USER PROFILE
$bp-prof-big: 670px;
$bp-prof-mdm: 325px;
//FRIENDS SECTION
$bp-friend-big: 650px;
$bp-friend-mdm: 450px;
//SETTINGS SECTION
$bp-setts-big: 775px;
$bp-setts-mdm: 640px;
$bp-setts-small: 445px;
//HOME MAIN SECTION
$bp-home-big: 910px;
$bp-home-mdm: 800px;
$bp-home-small: 660px;
$bp-home-smallest: 450px;
//MODAL WINDOW
$bp-big-modal: 786px;
$bp-mdm-modal: 650px;
$bp-small-modal: 470px;

body {
  height: 100vh;
  background: linear-gradient(-45deg, #00306b, #0065e1, #00306b);
  background-size: 300% 300%;
  animation: gradient 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1010px) {
    animation: none;
  }
}

.password__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);

  &__form {
    background-color: #add2ff4b;
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border-bottom: 1px solid #add2ff7e;
    border-top: 1px solid #add2ff7e;
    @media screen and (max-width: $bp-big-modal) {
      width: 50%;
      height: 20%;
    }
    @media screen and (max-width: $bp-mdm-modal) {
      width: 70%;
      height: 20%;
    }
    @media screen and (max-width: $bp-small-modal) {
      width: 90%;
      height: 20%;
    }

    &__group {
      &__icon {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__input {
        font-size: 18px;
        padding: 8px 0 8px 8px;
        width: 90%;
        height: 38px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #add2ff7e;
        box-shadow: 0 0.5px 2px #add2ff7e;
        backdrop-filter: blur(8px);
        color: #ffffffde;

        @media screen and (max-width: $bp-small-modal) {
          font-size: 14px;
          height: 34px;
        }

        &::placeholder {
          color: #ffffff9f;
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid #add2ff7e;
        }
      }
      &__img {
        position: absolute;
        width: 20px;
        right: 37px;
        opacity: 0.4;
        transition: all 0.2s;
        cursor: pointer;

        @media screen and (max-width: $bp-mdm-modal) {
          right: 30px;
        }
        @media screen and (max-width: $bp-small-modal) {
          width: 16px;
          right: 27px;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &__submit {
      width: 35%;
      padding: 12px 0;
      font-size: 18px;
      font-weight: bold;
      border: none;
      outline: none;
      letter-spacing: 1.2px;
      background-color: #004ead;
      box-shadow: 0 2px 4px #002c618a;
      color: #ffffffde;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        letter-spacing: 3.6px;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &__error {
      opacity: 0;
      text-transform: uppercase;
      font-size: 12px;
      color: #b42222f2;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
  }
}

.home {
  height: 90vh;
  width: 95vw;
  background-color: #add2ff4b;
  border-top: 1px solid #add2ff7e;
  border-bottom: 1px solid #add2ff7e;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: $bp-superbig) {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }

  &__nav {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.05);

    @media screen and (max-width: $bp-superbig) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__logo {
      width: 96px;
      padding: 24px 0 0 0;

      @media screen and (max-width: $bp-superbig) {
        padding: 0;
        width: 48px;
      }
      @media screen and (max-width: $bp-nav-big) {
        width: 24px;
      }
      @media screen and (max-width: $bp-nav-smallest) {
        width: 18px;
      }
    }

    &__links {
      height: 200px;
      width: 100%;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.5px;
      font-size: 12px;

      @media screen and (max-width: $bp-superbig) {
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
      }

      @media screen and (max-width: $bp-nav-big) {
        letter-spacing: 0px;
        font-size: 8px;
      }
      @media screen and (max-width: $bp-nav-mdm) {
        width: 60%;
      }
      @media screen and (max-width: $bp-nav-small) {
        display: none;
      }

      &__home,
      &__chats,
      &__profile,
      &__settings,
      &__friends {
        cursor: pointer;
        opacity: 0.5;
      }
    }

    &__iconlink {
      display: none;

      @media screen and (max-width: $bp-nav-small) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 60%;
      }

      &__home,
      &__chats,
      &__profile,
      &__settings,
      &__friends {
        cursor: pointer;
        opacity: 0.5;
        width: 20px;

        @media screen and (max-width: $bp-nav-smallest) {
          width: 16px;
        }
      }
    }

    &__logout {
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.5px;
      font-size: 16px;
      position: absolute;
      bottom: 24px;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.1s;

      @media screen and (max-width: $bp-superbig) {
        position: relative;
        bottom: 0;
      }
      @media screen and (max-width: $bp-nav-big) {
        letter-spacing: 0px;
        font-size: 10px;
      }
      @media screen and (max-width: $bp-nav-small) {
        font-size: 8px;
      }
      @media screen and (max-width: $bp-nav-smallest) {
        font-size: 6px;
      }

      &:hover {
        opacity: 1;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }

  &__main {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0 20px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;

    @media screen and (max-width: $bp-superbig) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 95%;
    }
    @media screen and (max-width: $bp-home-mdm) {
      padding: 20px;
      align-items: center;
    }

    &__title {
      text-transform: uppercase;
      color: #ffffff27;
      font-size: 124px;
      letter-spacing: 4px;
      font-weight: 900;
      width: max-content;
      opacity: 0;
      animation: sloganOp 1s linear 0.5s 1 forwards;

      @media screen and (max-width: $bp-home-big) {
        font-size: 112px;
        letter-spacing: 3px;
        z-index: 3000;
      }
      @media screen and (max-width: $bp-home-small) {
        font-size: 13.2vw;
        letter-spacing: 2px;
        z-index: 3000;
      }

      &::before {
        content: attr(data-text);
        overflow: hidden;
        letter-spacing: 4px;
        height: 100%;
        width: 0;
        color: #ffffff;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
        position: absolute;
        animation: resize 2s linear 1.5s 1 forwards;

        @media screen and (max-width: $bp-home-big) {
          letter-spacing: 3px;
          z-index: 3000;
        }
        @media screen and (max-width: $bp-home-small) {
          font-size: 13.2vw;
          letter-spacing: 2px;
          z-index: 3000;
        }
      }
    }

    &__slogan {
      font-size: 82px;
      font-weight: 900;
      width: 590px;
      color: rgb(40, 40, 40);
      opacity: 0;
      animation: sloganOp 1.5s linear 2.8s 1 forwards;

      @media screen and (max-width: $bp-home-big) {
        font-size: 61.5px;
        width: 45vh;
      }
      @media screen and (max-width: $bp-home-mdm) {
        text-align: center;
        z-index: 3000;
      }
      @media screen and (max-width: $bp-home-small) {
        font-size: 8.4vw;
      }
      @media screen and (max-width: $bp-home-smallest) {
        width: 40vw;
      }
    }

    &__logo {
      width: 0%;
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      transform: translate(26%, 16.5%);
      animation: animLogo 1.3s linear 3.2s 1 forwards;

      @media screen and (max-width: $bp-superbig) {
        animation: none;
        width: 60%;
        top: unset;
        bottom: -5%;
        right: -5%;
        opacity: 1;
      }
      @media screen and (max-width: $bp-home-mdm) {
        bottom: unset;
        right: unset;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
        opacity: 0.25;
      }
    }
  }

  &__rooms {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    @media screen and (max-width: $bp-superbig) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 95%;
    }

    &__selection {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @media screen and (max-width: $bp-card-mdm) {
        flex-direction: column;
      }

      &__card {
        position: relative;
        background-size: cover;
        background-position: 200% 200%;
        background-color: rgba(255, 255, 255, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 12px;
        height: 60%;
        width: 25%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        @media screen and (max-width: $bp-superbig) {
          width: 35%;
        }
        @media screen and (max-width: $bp-card-big) {
          height: 50%;
        }
        @media screen and (max-width: $bp-card-mdm) {
          height: 35%;
          width: 70%;
        }
        @media screen and (max-width: $bp-card-small) {
          height: 35%;
          width: 70%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 250%;
          height: 100%;
          background-size: cover;
          background: linear-gradient(
            to left,
            rgba(40, 40, 40, 1),
            rgba(30, 30, 30, 1)
          );
          transform: skewX(45deg) translateX(0);
          transition: all 0.5s;
        }
        &:hover::before {
          transform: skewX(45deg) translateX(100%);
        }

        &__img {
          width: 20%;
          opacity: 1;
          z-index: 100;
          @media screen and (max-width: $bp-card-big) {
            width: 46px;
          }
          @media screen and (max-width: $bp-card-small) {
            width: 36px;
          }
        }
        &__header {
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          cursor: default;
          opacity: 1;
          z-index: 100;
          @media screen and (max-width: $bp-card-big) {
            font-size: 16px;
          }
          @media screen and (max-width: $bp-card-small) {
            font-size: 14px;
          }
        }
        &__btn {
          width: 50%;
          padding: 8px 0;
          font-size: 16px;
          font-weight: bold;
          z-index: 100;
          border: none;
          outline: none;
          letter-spacing: 0.8px;
          background-color: #004ead;
          box-shadow: 0 2px 4px #002c618a;
          opacity: 1;
          color: #fff;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.2s;
          @media screen and (max-width: $bp-card-big) {
            font-size: 12px;
          }
          @media screen and (max-width: $bp-card-small) {
            font-size: 10px;
          }

          &:hover {
            letter-spacing: 1.6px;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  &__profile {
    grid-column: 2 / 3;
    height: 70%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $bp-superbig) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 95%;
      width: 95%;
    }

    &__main {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

      &__addfriend {
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: transparent;
        border: none;
        outline: none;
        opacity: 0.5;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:active {
          transform: scale(0.95);
        }

        &__icon {
          width: 24px;

          @media screen and (max-width: $bp-prof-big) {
            width: 16px;
          }
        }
      }

      &__user {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__photo {
          width: 100px;
          margin-right: 3px;
          @media screen and (max-width: $bp-prof-big) {
            width: 75px;
          }
          @media screen and (max-width: $bp-prof-mdm) {
            width: 70px;
          }
        }

        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 3px;

          &__name {
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 0.75px;
            font-size: 32px;
            @media screen and (max-width: $bp-prof-big) {
              font-size: 24px;
            }
            @media screen and (max-width: $bp-prof-mdm) {
              font-size: 22px;
            }
          }
          &__nac {
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 0.25px;
            font-size: 16px;
            @media screen and (max-width: $bp-prof-big) {
              font-size: 12px;
            }
            @media screen and (max-width: $bp-prof-mdm) {
              font-size: 10px;
            }
          }
        }
      }

      &__description {
        font-weight: normal;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        opacity: 0.8;
        @media screen and (max-width: $bp-prof-big) {
          font-size: 13.5px;
        }
        @media screen and (max-width: $bp-prof-mdm) {
          font-size: 11.5px;
        }
      }

      &__join {
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        opacity: 0.6;
        @media screen and (max-width: $bp-prof-big) {
          font-size: 12px;
        }
        @media screen and (max-width: $bp-prof-mdm) {
          font-size: 10px;
        }
      }

      &__form {
        position: relative;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $bp-prof-big) {
          width: 60%;
        }
        @media screen and (max-width: $bp-prof-mdm) {
          width: 80%;
        }

        &__input {
          font-size: 16px;
          padding: 6px 0 6px 6px;
          border: none;
          background-color: rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid #add2ff7e;
          box-shadow: 0 0.5px 2px #add2ff7e;
          color: #ffffffde;
          width: 100%;
          @media screen and (max-width: $bp-prof-big) {
            font-size: 12px;
            padding: 4px 0 4px 4px;
          }

          &::placeholder {
            color: rgba(255, 255, 255, 0.62);
          }

          &:focus {
            outline: none;
            border-bottom: 1px solid #add2ff7e;
          }
        }

        &__btn {
          position: absolute;
          top: 6px;
          right: 6px;
          background-color: transparent;
          cursor: pointer;
          padding: 0;
          border: none;
          outline: none;
          transition: all 0.1s;
          @media screen and (max-width: $bp-prof-big) {
            top: 4px;
            right: 4px;
          }

          &:active {
            transform: scale(0.9);
          }

          &__icon {
            width: 20px;
            transform: rotateY(180deg);
            opacity: 0.62;
            transition: all 0.1s;
            @media screen and (max-width: $bp-prof-big) {
              width: 15px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        &__error {
          font-size: 16px;
          font-weight: normal;
          color: #e02727b4;
          width: 100%;
          margin-top: 3px;
          @media screen and (max-width: $bp-prof-big) {
            font-size: 12px;
          }
        }

        &__added {
          font-size: 16px;
          font-weight: normal;
          color: rgb(109, 221, 109);
          width: 100%;
          margin-top: 3px;
          @media screen and (max-width: $bp-prof-big) {
            font-size: 12px;
          }
        }
      }
    }
  }

  &__friends {
    grid-column: 2 / 3;
    height: 70%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 38px 1fr;
    @media screen and (max-width: $bp-superbig) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 95%;
      width: 95%;
    }
    @media screen and (max-width: $bp-friend-big) {
      padding: 12px;
    }
    @media screen and (max-width: $bp-friend-mdm) {
      row-gap: 0px;
    }

    &__title {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 0.75px;
      font-size: 32px;
      grid-row: 1 / 2;
      width: 100%;
      text-align: start;
      @media screen and (max-width: $bp-friend-big) {
        text-align: center;
      }
      @media screen and (max-width: $bp-friend-mdm) {
        font-size: 18px;
      }
    }

    &__error {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #ffffff;
      letter-spacing: 0.25px;
      font-size: 18px;
      @media screen and (max-width: $bp-friend-mdm) {
        font-size: 12px;
      }
    }

    &__container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 34px;
      overflow-y: scroll;
      @media screen and (max-width: $bp-friend-big) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        @media screen and (max-width: $bp-friend-big) {
          height: max-content;

          &:not(:first-of-type) {
            margin-top: 8px;
          }
        }

        &__delete {
          width: 20px;
          padding: 0;
          opacity: 0.5;
          transition: all 0.2s;
          cursor: pointer;
          @media screen and (max-width: $bp-friend-mdm) {
            width: 16px;
          }
          &:hover {
            opacity: 1;
          }
        }

        &__name {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 4px;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
          font-size: 16px;
          @media screen and (max-width: $bp-friend-mdm) {
            font-size: 12px;
          }

          &__state {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  &__settings {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $bp-superbig) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      height: 95%;
      width: 95%;
      padding: 10px 20px;
    }
    @media screen and (max-width: $bp-setts-mdm) {
      padding: 30px 20px;
    }

    &__form {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      justify-items: center;
      align-items: center;
      width: 100%;
      height: 100%;
      @media screen and (max-width: $bp-superbig) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      &__delete {
        font-size: 14px;
        position: absolute;
        font-weight: bold;
        top: 6px;
        right: 6px;
        text-transform: uppercase;
        color: #c50000;
        background-color: rgb(40, 40, 40);
        padding: 4px 12px;
        border-radius: 12px;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;

        @media screen and (max-width: $bp-setts-big) {
          top: 2px;
          right: 2px;
          font-size: 10px;
          padding: 2px 6px;
        }
        @media screen and (max-width: $bp-setts-mdm) {
          position: relative;
          font-size: 8px;
          margin-top: 6px;
        }

        &:active {
          transform: scale(0.95);
        }
      }

      &__head {
        grid-column: 1 / 3;
        grid-row: 1 /2;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 1px;
        cursor: default;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.425);
        @media screen and (max-width: $bp-setts-mdm) {
          font-size: 24px;
        }
        @media screen and (max-width: $bp-setts-small) {
          font-size: 20px;
        }
      }

      &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
        @media screen and (max-width: $bp-superbig) {
          margin-top: 6px;
          height: fit-content;
        }

        &__label {
          font-size: 16px;
          font-weight: normal;
          color: #ffffff;
          margin-bottom: 4px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          @media screen and (max-width: $bp-setts-mdm) {
            font-size: 8px;
          }
        }

        &__input {
          font-size: 18px;
          padding: 8px 0 8px 8px;
          width: 100%;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid #add2ff7e;
          box-shadow: 0 0.5px 2px #add2ff7e;
          backdrop-filter: blur(8px);
          color: #ffffffde;

          @media screen and (max-width: $bp-setts-mdm) {
            font-size: 12px;
          }

          &::placeholder {
            color: #ffffff9f;
          }

          &:focus {
            outline: none;
            border-bottom: 1px solid #add2ff7e;
          }
        }

        &__icon {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;

          &__img {
            position: absolute;
            width: 20px;
            right: 8px;
            opacity: 0.4;
            transition: all 0.2s;
            cursor: pointer;
            @media screen and (max-width: $bp-setts-mdm) {
              width: 14px;
            }

            &:hover {
              opacity: 0.7;
            }
          }

          &__imgta {
            position: absolute;
            width: 20px;
            top: 8px;
            right: 8px;
            opacity: 0.4;
            transition: all 0.2s;
            cursor: pointer;
            @media screen and (max-width: $bp-setts-mdm) {
              width: 14px;
            }

            &:hover {
              opacity: 0.9;
            }
          }
        }

        &__error {
          font-size: 16px;
          font-weight: normal;
          color: rgb(211, 27, 27);
          margin-top: 4px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          @media screen and (max-width: $bp-setts-mdm) {
            font-size: 8px;
          }
        }
      }

      &__radiogroup {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        @media screen and (max-width: $bp-superbig) {
          margin-top: 6px;
          height: fit-content;
        }

        &__label {
          font-size: 16px;
          font-weight: normal;
          color: transparent;
          margin-bottom: 4px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          @media screen and (max-width: $bp-setts-mdm) {
            display: none;
          }
        }

        &__imgs {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          &__crew {
            display: flex;
            justify-content: center;
            align-items: center;

            &__photo {
              width: 46px;
              opacity: 0.35;
              cursor: pointer;
              @media screen and (max-width: $bp-setts-mdm) {
                width: 32px;
              }
              @media screen and (max-width: $bp-setts-small) {
                width: 18px;
              }
            }

            &__pick {
              position: absolute;
              z-index: -5;
              opacity: 0;
            }
          }
        }
      }

      &__bottom {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: $bp-superbig) {
          margin-top: 6px;
          height: fit-content;
          justify-content: center;
        }
        &__btn {
          width: 80%;
          padding: 12px 0;
          font-size: 24px;
          font-weight: bold;
          border: none;
          outline: none;
          letter-spacing: 1.2px;
          background-color: #004ead;
          box-shadow: 0 2px 4px #002c618a;
          color: #ffffffde;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.2s;
          @media screen and (max-width: $bp-setts-mdm) {
            font-size: 12px;
          }

          &:hover {
            letter-spacing: 3.6px;
          }

          &:active {
            transform: scale(0.95);
          }
        }

        &__save {
          font-size: 12px;
          width: 80%;
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
          margin-bottom: 4px;
          opacity: 0;
          @media screen and (max-width: $bp-setts-mdm) {
            font-size: 8px;
          }
          @media screen and (max-width: $bp-setts-mdm) {
            font-size: 4px;
          }
        }
      }
    }
  }
}

#inputTwo {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
#inputThree {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
#inputFour {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
#inputFive {
  align-self: end;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  @media screen and (max-width: $bp-superbig) {
    align-self: center;
  }
}
#inputSix {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.active-link {
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e027277e;
  box-shadow: 0 0.5px 2px #e027277e;
}

.home__settings__form__radiogroup__imgs__crew__pick:checked ~ img {
  animation: switchOp 0.2s linear 1 forwards;
}

@keyframes switchOp {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sloganOp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes animLogo {
  from {
    width: 0;
    transform: translate(26%, 16.5%) rotate(0deg);
    opacity: 0;
  }
  to {
    width: 60%;
    transform: translate(26%, 16.5%) rotate(360deg);
    opacity: 1;
  }
}

@keyframes resize {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.textareaInput {
  resize: none;
}

// Active State for settings input icons
.inputActiveState {
  opacity: 0.9;
}

.showSpan {
  opacity: 1;
}

.deleteError {
  opacity: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #b42222f2;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.red {
  color: rgb(148, 19, 19);
}
.green {
  color: rgb(109, 221, 109);
}
