body {
  height: 100vh;
  background: linear-gradient(-45deg, #00306b, #0065e1, #00306b);
  background-size: 300% 300%;
  animation: gradient 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password__modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);

  &__form {
    background-color: #add2ff4b;
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border-bottom: 1px solid #add2ff7e;
    border-top: 1px solid #add2ff7e;
    padding: 22px 0;

    &__group {
      &__icon {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__input {
        font-size: 18px;
        padding: 8px 0 8px 8px;
        width: 90%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #add2ff7e;
        box-shadow: 0 0.5px 2px #add2ff7e;
        backdrop-filter: blur(8px);
        color: #ffffffde;

        &::placeholder {
          color: #ffffff9f;
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid #add2ff7e;
        }
      }
      &__img {
        position: absolute;
        width: 20px;
        right: 37px;
        opacity: 0.4;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &__submit {
      width: 35%;
      padding: 12px 0;
      font-size: 18px;
      font-weight: bold;
      border: none;
      outline: none;
      letter-spacing: 1.2px;
      background-color: #004ead;
      box-shadow: 0 2px 4px #002c618a;
      color: #ffffffde;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        letter-spacing: 3.6px;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &__error {
      opacity: 0;
      text-transform: uppercase;
      font-size: 12px;
      color: #b42222f2;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
  }
}

.home {
  height: 90vh;
  width: 95vw;
  background-color: #add2ff4b;
  border-top: 1px solid #add2ff7e;
  border-bottom: 1px solid #add2ff7e;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  &__nav {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.05);

    &__logo {
      width: 96px;
      padding: 24px 0 0 0;
    }

    &__links {
      height: 200px;
      width: 100%;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.5px;
      font-size: 12px;

      &__home,
      &__chats,
      &__profile,
      &__settings {
        cursor: pointer;
        opacity: 0.5;
      }
    }

    &__logout {
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.5px;
      font-size: 16px;
      position: absolute;
      bottom: 24px;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        opacity: 1;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }

  &__main {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0 20px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;

    &__title {
      text-transform: uppercase;
      color: #ffffff27;
      font-size: 124px;
      letter-spacing: 4px;
      font-weight: 900;
      width: max-content;
      opacity: 0;
      animation: sloganOp 1s linear 0.5s 1 forwards;

      &::before {
        content: attr(data-text);
        overflow: hidden;
        letter-spacing: 4px;
        height: 100%;
        width: 0;
        color: #ffffff;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
        position: absolute;
        animation: resize 2s linear 1.5s 1 forwards;
      }
    }

    &__slogan {
      font-size: 82px;
      font-weight: 900;
      width: 590px;
      color: rgb(40, 40, 40);
      opacity: 0;
      animation: sloganOp 1.5s linear 2.8s 1 forwards;
    }

    &__logo {
      width: 0%;
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      transform: translate(100%, 100%);
      animation: animLogo 1.3s linear 3.2s 1 forwards;
    }
  }

  &__rooms {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__selection {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &__card {
        position: relative;
        background-size: cover;
        background-position: 200% 200%;
        background-color: rgba(255, 255, 255, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 12px;
        height: 60%;
        width: 25%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 160%;
          height: 100%;
          background-size: cover;
          background: linear-gradient(
            to left,
            rgba(40, 40, 40, 1),
            rgba(30, 30, 30, 1)
          );
          transform: skewX(45deg) translateX(0);
          transition: all 0.5s;
        }
        &:hover::before {
          transform: skewX(45deg) translateX(100%);
        }

        &__img {
          width: 20%;
          opacity: 1;
          z-index: 100;
          transition: all 0.2s;
        }
        &__header {
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          cursor: default;
          opacity: 1;
          z-index: 100;
          transition: all 0.2s;
        }
        &__btn {
          width: 50%;
          padding: 8px 0;
          font-size: 16px;
          font-weight: bold;
          z-index: 100;
          border: none;
          outline: none;
          letter-spacing: 0.8px;
          background-color: #004ead;
          box-shadow: 0 2px 4px #002c618a;
          opacity: 1;
          color: #fff;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            letter-spacing: 1.6px;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  &__profile {
    grid-column: 2 / 3;
    height: 70%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

      &__user {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__photo {
          width: 100px;
          margin-right: 3px;
        }

        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 3px;

          &__name {
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 0.75px;
            font-size: 32px;
          }
          &__nac {
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 0.25px;
            font-size: 16px;
          }
        }
      }

      &__description {
        font-weight: normal;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        opacity: 0.8;
      }

      &__join {
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        opacity: 0.6;
      }

      &__form {
        position: relative;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__input {
          font-size: 16px;
          padding: 6px 0 6px 6px;
          border: none;
          background-color: rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid #add2ff7e;
          box-shadow: 0 0.5px 2px #add2ff7e;
          color: #ffffffde;
          width: 100%;

          &::placeholder {
            color: rgba(255, 255, 255, 0.62);
          }

          &:focus {
            outline: none;
            border-bottom: 1px solid #add2ff7e;
          }
        }

        &__btn {
          position: absolute;
          top: 6px;
          right: 6px;
          background-color: transparent;
          cursor: pointer;
          padding: 0;
          border: none;
          outline: none;
          transition: all 0.1s;

          &:active {
            transform: scale(0.9);
          }

          &__icon {
            width: 20px;
            transform: rotateY(180deg);
            opacity: 0.62;
            transition: all 0.1s;

            &:hover {
              opacity: 1;
            }
          }
        }

        &__error {
          font-size: 16px;
          font-weight: normal;
          color: #e02727b4;
          width: 100%;
          margin-top: 3px;
        }
      }
    }
  }

  &__settings {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      justify-items: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &__head {
        grid-column: 1 / 3;
        grid-row: 1 /2;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 1px;
        cursor: default;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.425);
      }

      &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;

        &__label {
          font-size: 16px;
          font-weight: normal;
          color: #ffffff;
          margin-bottom: 4px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }

        &__input {
          font-size: 18px;
          padding: 8px 0 8px 8px;
          width: 100%;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid #add2ff7e;
          box-shadow: 0 0.5px 2px #add2ff7e;
          backdrop-filter: blur(8px);
          color: #ffffffde;

          &::placeholder {
            color: #ffffff9f;
          }

          &:focus {
            outline: none;
            border-bottom: 1px solid #add2ff7e;
          }
        }

        &__icon {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;

          &__img {
            position: absolute;
            width: 20px;
            right: 8px;
            opacity: 0.4;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }

          &__imgta {
            position: absolute;
            width: 20px;
            top: 8px;
            right: 8px;
            opacity: 0.4;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        &__error {
          font-size: 16px;
          font-weight: normal;
          color: rgb(211, 27, 27);
          margin-top: 4px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }
      }

      &__radiogroup {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;

        &__imgs {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          &__crew {
            display: flex;
            justify-content: center;
            align-items: center;

            &__photo {
              width: 46px;
              opacity: 0.35;
              cursor: pointer;
            }

            &__pick {
              position: absolute;
              z-index: -5;
              opacity: 0;
            }
          }
        }
      }

      &__bottom {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__btn {
          width: 25%;
          padding: 12px 0;
          font-size: 24px;
          font-weight: bold;
          border: none;
          outline: none;
          letter-spacing: 1.2px;
          background-color: #004ead;
          box-shadow: 0 2px 4px #002c618a;
          color: #ffffffde;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            letter-spacing: 3.6px;
          }

          &:active {
            transform: scale(0.95);
          }
        }

        &__save {
          font-size: 12px;
          width: 30%;
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
          margin-top: 6px;
          opacity: 0;
        }
      }
    }
  }
}

#inputOne {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
#inputTwo {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
#inputThree {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}
#inputFour {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
#inputFive {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
#inputSix {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.active-link {
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e027277e;
  box-shadow: 0 0.5px 2px #e027277e;
}

.home__settings__form__radiogroup__imgs__crew__pick:checked ~ img {
  animation: switchOp 0.2s linear 1 forwards;
}

@keyframes switchOp {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sloganOp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes animLogo {
  from {
    width: 0;
    transform: translate(100%, 100%);
    opacity: 0;
  }
  to {
    width: 60%;
    transform: translate(26%, 16.5%);
    opacity: 1;
  }
}

@keyframes resize {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.textareaInput {
  resize: none;
}

// Active State for settings input icons
.inputActiveState {
  opacity: 0.9;
}

.showSpan {
  opacity: 1;
}
