body {
  height: 100vh;
  background: linear-gradient(-45deg, #00306b, #0065e1, #00306b);
  background-size: 300% 300%;
  animation: gradient 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  height: 90vh;
  width: 95vw;
  background-color: #add2ff4b;
  border-top: 1px solid #add2ff7e;
  border-bottom: 1px solid #add2ff7e;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  &__nav {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.05);

    &__logo {
      width: 96px;
      padding: 24px 0 0 0;
    }

    &__links {
      height: 200px;
      width: 100%;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.5px;
      font-size: 12px;

      &__home,
      &__chats,
      &__profile,
      &__settings {
        cursor: pointer;
        opacity: 0.5;
      }
    }

    &__logout {
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 0.5px;
      font-size: 16px;
      position: absolute;
      bottom: 24px;
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        opacity: 1;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }

  &__main {
    grid-column: 2 / 3;
    height: 90%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;

    &__up {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      z-index: 100;

      &__head {
        font-size: 70px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      &__slogan {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 0.8;
        letter-spacing: 1px;
      }
    }

    &__info {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 85%;
      border-left: 2px solid #fff;
      padding-left: 8px;

      &__head {
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
        margin-bottom: 2px;
      }

      &__text {
        font-size: 18px;
        font-weight: normal;
        color: #ffffff;
        letter-spacing: 0.2px;
        opacity: 0.8;
      }
    }

    &__infotwo {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 85%;
      border-right: 2px solid #fff;
      padding-right: 8px;

      &__head {
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
        margin-bottom: 2px;
        text-align: end;
      }

      &__text {
        font-size: 18px;
        font-weight: normal;
        color: #ffffff;
        letter-spacing: 0.2px;
        opacity: 0.8;
        text-align: end;
      }
    }

    &__logo {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      width: 250px;
      z-index: 10;
      opacity: 0.2;
    }
  }

  &__profile {
    grid-column: 2 / 3;
    height: 70%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #add2ff7e;
    border-bottom: 1px solid #add2ff7e;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

      &__user {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &__photo {
          width: 100px;
        }

        &__name {
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 0.75px;
          font-size: 32px;
          text-align: center;
        }
      }

      &__description {
        font-weight: normal;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        opacity: 0.8;
      }

      &__join {
        font-weight: normal;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        opacity: 0.6;
      }

      &__form {
        position: relative;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__input {
          font-size: 16px;
          padding: 6px 0 6px 6px;
          border: none;
          background-color: rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid #add2ff7e;
          box-shadow: 0 0.5px 2px #add2ff7e;
          color: #ffffffde;
          width: 100%;

          &::placeholder {
            color: rgba(255, 255, 255, 0.62);
          }

          &:focus {
            outline: none;
            border-bottom: 1px solid #add2ff7e;
          }
        }

        &__btn {
          position: absolute;
          top: 6px;
          right: 6px;
          background-color: transparent;
          cursor: pointer;
          padding: 0;
          border: none;
          outline: none;
          transition: all 0.1s;

          &:active {
            transform: scale(0.9);
          }

          &__icon {
            width: 20px;
            transform: rotateY(180deg);
            opacity: 0.62;
            transition: all 0.1s;

            &:hover {
              opacity: 1;
            }
          }
        }

        &__error {
          font-size: 16px;
          font-weight: normal;
          color: #e02727b4;
          width: 100%;
          margin-top: 3px;
        }
      }
    }
  }
}

.active-link {
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid #e027277e;
  box-shadow: 0 0.5px 2px #e027277e;
}
