<body>
  <section class="home">
    <nav class="home__nav">
      <img
        src="../../assets/hattyng-logo.png"
        alt="Hattyng logotype"
        class="home__nav__logo"
      />
      <div class="home__nav__links">
        <h2
          class="home__nav__links__home active-link"
          (click)="linkClicked(homeLink.innerHTML)"
          #homeLink
        >
          Home
        </h2>
        <h2
          class="home__nav__links__chats"
          (click)="linkClicked(roomLink.innerHTML)"
          #roomLink
        >
          Rooms
        </h2>
        <h2
          class="home__nav__links__profile"
          (click)="linkClicked(profileLink.innerHTML)"
          #profileLink
        >
          Profile
        </h2>
        <h2
          class="home__nav__links__settings"
          (click)="linkClicked(settingsLink.innerHTML)"
          #settingsLink
        >
          Settings
        </h2>
      </div>
    </nav>

    <section class="home__main" *ngIf="displayHome">Home</section>

    <section class="home__rooms" *ngIf="displayRooms">Rooms</section>

    <section class="home__profile" *ngIf="displayProfile">
      <div class="home__profile__main">
        <img
          src="../../assets/profile-imgs/{{ userImgSrc }}.png"
          alt="Profile photo"
          class="home__profile__main__photo"
        />
        <h2 class="home__profile__main__name">{{ userName }}</h2>
        <p class="home__profile__main__description">
          {{ userDesc }}
        </p>
        <form
          class="home__profile__main__form"
          [formGroup]="searchForm"
          (ngSubmit)="searchUser(input.value, input)"
        >
          <input
            type="text"
            class="home__profile__main__form__input"
            formControlName="searchInput"
            placeholder="Search other user..."
            #input
          />
          <button type="submit" class="home__profile__main__form__btn">
            <img
              src="../../assets/search-icon.png"
              alt="A search icon"
              class="home__profile__main__form__btn__icon"
            />
          </button>
          <span class="home__profile__main__form__error" *ngIf="inputError"
            >That user doesn't exist!</span
          >
        </form>
      </div>
    </section>

    <section class="home__settings" *ngIf="displaySettings">Settings</section>
  </section>
</body>
