<body>
  <section class="settings">
    <form
      class="settings__form"
      [formGroup]="profileForm"
      (ngSubmit)="
        onSubmit(username.value, description.value, nacion.value, age.value)
      "
    >
      <h2 class="settings__form__header">Set up your profile</h2>
      <div class="settings__form__group" id="inputOne">
        <label for="username" class="settings__form__group__label"
          >Username</label
        >
        <input
          type="text"
          id="username"
          placeholder="Enter your username..."
          class="settings__form__group__input"
          formControlName="username"
          autocompleteOff
          #username
          tabindex="1"
        />
        <span *ngIf="userExists" class="settings__form__group__error"
          >Username already exists!</span
        >
      </div>
      <div class="settings__form__group" id="inputTwo">
        <label for="description" class="settings__form__group__label"
          >Description</label
        >
        <textarea
          type="text"
          id="description"
          placeholder="Enter your description..."
          class="settings__form__group__input textareaInput"
          formControlName="description"
          #description
          tabindex="4"
        ></textarea>
      </div>
      <div class="settings__form__radiogroup">
        <div class="settings__form__radiogroup__imgs">
          <div class="settings__form__radiogroup__imgs__crew">
            <input
              type="radio"
              id="One"
              class="settings__form__radiogroup__imgs__crew__pick"
              formControlName="pickOne"
              #pickOne
              tabindex="5"
              alt="Profile icon of a fox"
            />
            <img
              src="../../assets/profile-imgs/profileOne.png"
              alt="An expample photo"
              class="settings__form__radiogroup__imgs__crew__photo"
              #imgOne
              (click)="listenChecks(pickOne)"
            />
          </div>
          <div class="settings__form__radiogroup__imgs__crew">
            <input
              type="radio"
              id="Two"
              class="settings__form__radiogroup__imgs__crew__pick"
              formControlName="pickTwo"
              #pickTwo
              tabindex="6"
              alt="Profile icon of a gorilla"
            />
            <img
              src="../../assets/profile-imgs/profileTwo.png"
              alt="An expample photo"
              class="settings__form__radiogroup__imgs__crew__photo"
              #imgTwo
              (click)="listenChecks(pickTwo)"
            />
          </div>
          <div class="settings__form__radiogroup__imgs__crew">
            <input
              type="radio"
              id="Three"
              class="settings__form__radiogroup__imgs__crew__pick"
              formControlName="pickThree"
              #pickThree
              tabindex="7"
              alt="Profile icon of a dog"
            />
            <img
              src="../../assets/profile-imgs/profileThree.png"
              alt="An expample photo"
              class="settings__form__radiogroup__imgs__crew__photo"
              #imgThree
              (click)="listenChecks(pickThree)"
            />
          </div>

          <div class="settings__form__radiogroup__imgs__crew">
            <input
              type="radio"
              id="Four"
              class="settings__form__radiogroup__imgs__crew__pick"
              formControlName="pickFour"
              #pickFour
              tabindex="8"
              alt="Profile icon of a horse"
            />
            <img
              src="../../assets/profile-imgs/profileFour.png"
              alt="An expample photo"
              class="settings__form__radiogroup__imgs__crew__photo"
              #imgFour
              (click)="listenChecks(pickFour)"
            />
          </div>

          <div class="settings__form__radiogroup__imgs__crew">
            <input
              type="radio"
              id="Five"
              class="settings__form__radiogroup__imgs__crew__pick"
              formControlName="pickFive"
              #pickFive
              tabindex="9"
              alt="Profile icon of a wolf"
            />
            <img
              src="../../assets/profile-imgs/profileFive.png"
              alt="An expample photo"
              class="settings__form__radiogroup__imgs__crew__photo"
              #imgFive
              (click)="listenChecks(pickFive)"
            />
          </div>

          <div class="settings__form__radiogroup__imgs__crew">
            <input
              type="radio"
              id="Six"
              class="settings__form__radiogroup__imgs__crew__pick"
              formControlName="pickSix"
              #pickSix
              tabindex="10"
              alt="Profile icon of a tiger"
            />
            <img
              src="../../assets/profile-imgs/profileSix.png"
              alt="An expample photo"
              class="settings__form__radiogroup__imgs__crew__photo"
              #imgSix
              (click)="listenChecks(pickSix)"
            />
          </div>
        </div>
      </div>
      <div class="settings__form__group" id="inputThree">
        <label for="nacion" class="settings__form__group__label"
          >Nacionality</label
        >
        <input
          type="text"
          id="nacion"
          placeholder="Enter your nacionality..."
          class="settings__form__group__input"
          formControlName="nacion"
          autocompleteOff
          #nacion
          tabindex="3"
        />
      </div>
      <div class="settings__form__group" id="inputFour">
        <label for="age" class="settings__form__group__label">Age</label>
        <input
          type="text"
          id="age"
          placeholder="Enter your age..."
          class="settings__form__group__input"
          formControlName="age"
          autocompleteOff
          #age
          tabindex="2"
        />
      </div>
      <button
        type="submit"
        class="settings__form__button"
        [disabled]="profileForm.invalid"
        tabindex="11"
      >
        Submit
      </button>
    </form>
  </section>
</body>
